/* Custom styles for Learn Cube */

:root {
	--sl-color-accent-low: #1e293b;
	--sl-color-accent: #3b82f6;
	--sl-color-accent-high: #bfdbfe;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #f1f5f9;
	--sl-color-gray-2: #e2e8f0;
	--sl-color-gray-3: #cbd5e1;
	--sl-color-gray-4: #94a3b8;
	--sl-color-gray-5: #64748b;
	--sl-color-gray-6: #475569;
	--sl-color-black: #0f172a;
}
